@font-face {
    font-family: 'Burbank';
    src: url('res/BurbankBigCondensed-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,body{
    padding: 0;
    margin: 0;
}

